//写入公共样式
@mixin flex ($hov:space-between,$col:center){  //flex
    display: flex;
      justify-content: $hov;
      align-items: $col;
}
@mixin bgImg($w:0,$h:0,$url:'',$size:contain) {
  display: inline-block;
  width: $w;
  height: $h;
  background: url($url) no-repeat  50%;
  // 把图像图像扩展至最大尺寸，以使其宽度和高度完全适应内容区域。
  background-size: $size;
}
@mixin icon($w:0,$h:0,$r:0) {//图标
  display: inline-block;
  width: $w;
  height: $h;
  vertical-align: middle;
  margin-right: $r;
  // background-size: $size;
}
@mixin position($p:absolute,$t:0,$l:0,$w:100%,$h:100%){
  position: $p;
  top: $t;
  left: $l;
  width: $w;
  height: $h;
 
}
@mixin iconposi($p:absolute,$t:0,$r:0,$w:0,$h:0,$url:"") {
  position: $p;
  top: $t;
  right: $r;
  width: $w;
  height: $h;
  background: url($url) no-repeat  50%;
  background-size: contain;
}
@mixin border {
  width: 287px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  margin: 20px 0 30px;
  cursor: pointer;
}
@mixin checked {
  .checkbox{
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #E5E5E5;
    vertical-align: middle;
    margin-right: 17px;
    cursor:pointer;
    &.checked{
      background:url('/imgs/icon-gou.png') #FF6600 no-repeat center;
      background-size:16px 12px;
      border:none;
    }
  }
}
@mixin adress {
  width: 300px;
  height: 200px;
  border: 1px solid #f60;
  display: inline-block;
  font-size: 15px;
  a{
    i{
    font-size: 21px;
  }}
}
@mixin deliver {
  margin-top: 20px;
              h2{
                display: inline-block;
              }
              p{
                display: inline-block;
                margin-left: 100px;
                color: #f60;
              }
}
@mixin al {
  background-size: 103px 38px;
  width: 200px;
  height: 60px;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  margin-top: 20px;
}